extends layout

block content
  //- h1= title
  h1.lead Node Js
  //- p.lead Node Js web api home page, developed with Node, Express, and MYSQL.
  //- p.lead Node Js 
  hr


  h3.lead Please click on the links below for more details......
  br
  //- a(href='api-docs/' target="_blank") ยง API Documentation
  //- br
  //- a(href='config' target="_blank") ยง CPU and Memory
  //- br
  a(href='status' target="_blank") ยง Node API Status
